#
# wsnic.conf template file.
#
# The values assigned in this template file are the respective default
# values for options left unspecified in wsnic.conf.
#
# See README.md for full documentation.
#

#
# WebSocket server address.
#
ws_server_addr=127.0.0.1

#
# WebSocket server port (ws://).
#
ws_server_port=8086

#
# Secure WebSocket server port (wss://).
#
wss_server_port=8087

#
# Absolute file path of the PEM encoded server certificate file (optional).
#
wss_server_cert=

#
# Absolute file path of the PEM encoded private key file (optional).
#
wss_server_key=

#
# Interface name of a physical network device that provides Internet access (optional).
#
inet_iface=

#
# The wsnic subnet in CIDR notation.
#
subnet=192.168.86.0/24

#
# Enable DHCP/DNS service dnsmasq: either "0" (disabled) or "1" (enabled).
#
dhcp_enabled=1

#
# DHCP lease database file (optional, a temp file is used if undefined).
#
dhcp_lease_file=

#
# DHCP lease time in seconds (defaults to 24 hours).
#
dhcp_lease_time=86400

#
# Domain Name of this subnet (optional).
#
dhcp_domain_name=

#
# Comma-separated list of DNS IP address(es) published in DHCP replies (optional).
#
dhcp_nameserver=
