#
# wsnic.conf
#

#
# WebSocket server address
# - use 0.0.0.0 to listen on all interfaces
#
ws_server_addr=127.0.0.1

#
# WebSocket server port (ws://)
#
ws_server_port=8070

#
# Secure WebSocket server port (wss://)
# To enable wss support point wss_server_cert and optionally wss_server_key
# to valid TLS server certificate files.
#
wss_server_port=8071

#
# PEM formatted file containing either just the public server certificate or
# an entire certificate chain including public key, private key, and root
# certificates.
#
wss_server_cert=

#
# Optional PEM formatted file containing just the private-key of the server
# certificate.
#
wss_server_key=

#
# Interface name of a physical network device that provides Internet access.
# If defined, temporary NAT rules are installed for the bridge and inet_iface.
# example: inet_iface=eth0
#
inet_iface=

#
# Subnet
# - subnet's first and last IP addresses are reserved for network and broadcast addresses
# - subnet's second IP is reserved for the bridge device (also gateway and DHCP server IP)
# - remaining IP addresses are used for the DHCP address pool
# - example for the default subnet 192.168.86.0/24:
#   - network address: 192.168.86.0
#   - broadcast address: 192.168.86.255
#   - bridge/gateway address/DHCP server: 192.168.86.1
#   - DHCP address pool: 192.168.86.2, 192.168.86.3, ..., 192.168.86.254
#
subnet=192.168.86.0/24

#
# DHCP service provider: either "dnsmasq" or "disabled"
#
dhcp_service=dnsmasq

#
# DHCP lease database file (use temp file if empty)
#
dhcp_lease_file=

#
# DHCP lease time in seconds (defaults to 24 hours)
#
dhcp_lease_time=86400

#
# Domain Name announced in DHCP replies (optional)
#
dhcp_domain_name=

#
# Domain Name Server IP address(es) announced in DHCP replies
# - optional, 0 or any number of Domain Name Server IP addresses separated by ","
# - example: dhcp_domain_name_server=8.8.8.8, 8.8.4.4
# - if unspecified, the gateway address is used as the DHCP server address (192.168.86.1, see subnet)
#
dhcp_domain_name_server=
