#
# wsnic.conf
#

#
# WebSocket server address
# - use 0.0.0.0 to listen on all interfaces
#
ws_server_addr=127.0.0.1

#
# WebSocket server port (ws://)
#
ws_server_port=8070

#
# Secure WebSocket server port (wss://)
# To enable wss support point wss_server_cert and optionally wss_server_key
# to valid TLS server certificate files.
#
wss_server_port=8071

#
# PEM formatted file containing either just the public server certificate or
# an entire certificate chain including public key, private key, and root
# certificates.
#
wss_server_cert=

#
# Optional PEM formatted file containing just the private-key of the server
# certificate.
#
wss_server_key=

#
# Interface name of your existing upstream NIC
#
eth_iface=eth0

#
# Subnet
# - subnet's first and last IP addresses are reserved for network and broadcast addresses
# - subnet's second IP is reserved for the TAP device (also DHCP server and gateway IP)
# - remaining IP addresses are used for the DHCP address pool
# - example for the default subnet 192.168.2.0/24:
#   - network address: 192.168.2.0
#   - broadcast address: 192.168.2.255
#   - TAP device/DHCP server/gateway address: 192.168.2.1
#   - DHCP address pool: 192.168.2.2, 192.168.2.3, ..., 192.168.2.254
#
subnet=192.168.2.0/24

#
# DHCP service provider: either "dnsmasq" or "disabled"
#
dhcp_service=dnsmasq

#
# DHCP lease database file
#
dhcp_lease_file=

#
# DHCP lease time in seconds
#
dhcp_lease_time=86400

#
# Domain Name announced in DHCP replies (optional)
#
dhcp_domain_name=

#
# Domain Name Server IP addresses announced in DHCP replies
# - optional, 0 or any number of Domain Name Server IP addresses
#
dhcp_domain_name_server=8.8.8.8, 8.8.4.4

#
# Maximum Transmission Unit (MTU) announced in DHCP replies
#
dhcp_mtu=1500
